<div class="card">
  <div class="card-content">
    <span class="card-title">Stats</span>
    <div class="row">
      <div class="col s12 m6">
        HP ({{stats?.hp}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.hp)" [title]="stats?.hp"></div>
        </div>
        Attack ({{stats?.attack}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.attack)" [title]="stats?.attack"></div>
        </div>
        Defense ({{stats?.defense}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.defense)" [title]="stats?.defense"></div>
        </div>
      </div>
      <div class="col s12 m6">
        Special Attack ({{stats?.specialAttack}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.specialAttack)" [title]="stats?.specialAttack"></div>
        </div>
        Special Defense ({{stats?.specialDefense}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.specialDefense)" [title]="stats?.specialDefense"></div>
        </div>
        Speed ({{stats?.speed}})
        <div class="progress">
          <div class="determinate" [style.width]="getStatPercent(stats?.speed)" [title]="stats?.speed"></div>
        </div>
      </div>
    </div>
  </div>
</div>