h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

footer {
    width: 100vw;
    bottom: 0;
    margin: auto;
    padding: 8px;
    position: fixed;
    text-align: center;
    background-color: #eeeeee;
}

.poke-logo {
  max-width: 30px;
  padding: 10px;
}

.container {
  margin-bottom: 200px;
}